<footer>
    <div style="display: flex; gap: 5%; align-items: end;">
        <div class="footer-description">
            <img src="https://bharatpe.com//wp-content/uploads/2023/02/Bharatpe-logo-footer.png" alt="">
            <p>BharatPe was started in 2018 with the mission to build a holistic FinTech platform for offline merchants and small businesses. Today, BharatPe offers a suite of simple, easy-to-use and secure fintech products including payments and business loans to its merchant partners. The company has an extensive network of 13+ million merchants across 450+ cities in the country. BharatPe’s consumer offering postpe is one of the fastest-growing products in the Buy-Now- Pay-Later industry.xs</p>
        </div>
        <div class="footer-links">
            <div>
                <h6>General</h6>
                <a href="https://bharatpe.com/about/">About Us</a>
                <a href="https://bharatpe.com/careers/">Careers</a>
                <a href="https://bharatpe.com/press/">Press</a>
                <a href="https://bharatpe.com/contact/">Contact Us</a>
            </div>
            <div>
                <h6>Resources</h6>
                <a href="https://bharatpe.com/build-with-bharatpe/">Build With BharatPe</a>
                <a href="https://bharatpe.com/transforming-bharat-listing/">Transforming Bharat</a>
                <a href="https://bharatpe.com/merchant-stories-listing/">Merchant Stories</a>
            </div>
            <div>
                <h6>Merchant Offerings</h6>
                <a href="https://bharatpe.com/bharatpe-qr/">BharatPe QR</a>
                <a href="https://bharatpe.com/bharatpeswipe/">BharatPe Swipe</a>
                <a href="https://bharatpe.com/bharatpe-speaker/">BharatPe Speaker</a>
            </div>
        </div>
    </div>
    <div style="display: flex; gap: 10px;">
        <a href="https://play.google.com/store/apps/details?id=com.bharatpe.app&gl=IN&pli=1" >
        <button class="footer-btns">
            <img src="https://bp-wp-website-prod.s3.ap-south-1.amazonaws.com/wp-content/uploads/2023/09/play-store-icon.jpg"
                alt="" />
            Play Store
        </button>
        </a>
        <a href="https://apps.apple.com/us/app/bharatpe/id1329385873">
            <button class="footer-btns">
                <img src="https://bp-wp-website-prod.s3.ap-south-1.amazonaws.com/wp-content/uploads/2023/09/app-store.jpg"
                    alt=""
                />
                App Store
            </button>
        </a>
    </div>
</footer>
</body>
<!-- GSAP Animations -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>

<!-- Lenis -->
<script src="https://unpkg.com/@studio-freight/lenis@1.0.34/dist/lenis.min.js"></script> 

</html>