<%- include("./Global/navbar.ejs") %>

<link rel="stylesheet" href="styles/about.css">

<!-- <div>
    <img src="https://bharatpe.com/wp-content/uploads/2022/10/4.jpg" alt="">
    <img src="https://bharatpe.com/wp-content/uploads/2022/10/1.jpg" alt="">
    <img src="https://bharatpe.com/wp-content/uploads/2022/10/2.jpg" alt="">
    <img src="https://bharatpe.com/wp-content/uploads/2022/10/6-1.jpg" alt="">
    <img src="https://bharatpe.com/wp-content/uploads/2022/11/7.jpg" alt="">
    <img src="https://bharatpe.com/wp-content/uploads/2022/10/3.jpg" alt="">
    <img src="https://bharatpe.com/wp-content/uploads/2022/10/10-1.jpg" alt="">
    <img src="https://bharatpe.com/wp-content/uploads/2022/10/5.jpg" alt="">
    <img src="https://bp-wp-website-prod.s3.ap-south-1.amazonaws.com/wp-content/uploads/2024/01/9.jpg" alt="">
    <img src="https://bharatpe.com/wp-content/uploads/2022/10/11.jpg" alt="">
</div> -->

<main id="about">
    <div class="about-images">
        <img class="upper upper-1" src="https://bharatpe.com/wp-content/uploads/2022/10/4.jpg" alt="">
        <img class="upper upper-2" src="https://bharatpe.com/wp-content/uploads/2022/10/1.jpg" alt="">
        <img class="lower lower-3" src="https://bharatpe.com/wp-content/uploads/2022/10/5.jpg" alt="">
        <img class="upper upper-4" src="https://bharatpe.com/wp-content/uploads/2022/10/6-1.jpg" alt="">
        <img class="upper upper-5" src="https://bharatpe.com/wp-content/uploads/2022/11/7.jpg" alt="">
    </div>
    <h1>About Us</h1>
    <p>Transferring small businesses across Bharat</p>
    <div class="about-images">
        <img class="lower lower-1" src="https://bharatpe.com/wp-content/uploads/2022/10/3.jpg" alt="">
        <img class="lower lower-2" src="https://bharatpe.com/wp-content/uploads/2022/10/10-1.jpg" alt="">
        <img class="upper upper-3" src="https://bharatpe.com/wp-content/uploads/2022/10/2.jpg" alt="">
        <img class="lower lower-4" src="https://bp-wp-website-prod.s3.ap-south-1.amazonaws.com/wp-content/uploads/2024/01/9.jpg" alt="">
        <img class="lower lower-5" src="https://bharatpe.com/wp-content/uploads/2022/10/11.jpg" alt="">
    </div>
</main>

<script src="scripts/about.js"></script>

<%- include("./Global/footer.ejs") %>