<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BharatPe</title>
    <!-- CSS Styles-->
    <link rel="stylesheet" href="styles/navbar.css" />
    <link rel="stylesheet" href="styles/index.css" />
    <link rel="stylesheet" href="styles/footer.css" />
</head>
<body>
    <nav>
        <div>
            <img src="https://bp-wp-website-prod.s3.ap-south-1.amazonaws.com/wp-content/uploads/2023/09/bharatpe-logo-new-transp.png" alt="">
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="https://bharatpe.com/about/">About Us</a></li>
            <li> <p>Products</p> </li>
            <li> <p>Resources</p> </li>
            <li><a href="https://bharatpe.com/press/">Press</a></li>
            <li><a href="https://bharatpe.com/careers/">Careers</a></li>
            <li><a href="https://bharatpe.com/contact/">Contact Us</a></li>
        </ul>
        <button>LOGIN</button>
    </nav>