footer {
    background-color: rgb(27, 23, 23);
    padding: 5vh 5%;
    color: gray;
}
.footer-description {
    width: 30%;
}
.footer-description > img {
    width: 50%;
}
.footer-links{
    color: white;
    display: flex;
    gap: 30%;
}
.footer-links > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.footer-links > div > h6 {
    font-size: 25px;
    margin: 3vh 0;
}
.footer-links > div > a {
    color: gray;
    font-size: 18px;
    margin: 1vh;
    padding: 0;
}

.footer-btns {
    background-color: white;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.footer-btns > img {
    width: 20px;
}