@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    scroll-behavior: auto;
}
.navbar-spacer {
    height: 100px;
    width: 100%;
}
a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}
img {
    width: 100%;
}

nav {
    width: 94%;
    padding: 0vh 3%;
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 0px 0px 5px 0px;
    font-size: 15px;
}
nav > ul {
    width: 60%;
    padding: 10px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > div {
    width: 10%;
}
nav > button {
    height: fit-content;
    padding: 0.5% 1.5%;
    background-color: transparent;
    color: blue;
    border: 1px solid blue;
    border-radius: 5px;
}
